body {
  margin: 0;
  font-family: 'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke
 
}

code {
  font-family: 'Cinzel', serif;
}

  .searchbar{
  margin-bottom: auto;
  height: 60px;
  background-color: crimson;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  margin-left:10px
  }

  .search_input{
  color: blue;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color:crimson;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  }

.main_title{
  margin-top: 3.5rem!important;
  font-size: 2.5rem;
  margin-bottom: .4rem;
  font-family: 'Cinzel', serif;
  font-weight: 672;
  line-height: 1.2;
  color: crimson;
}

.logo-movie{
  position: absolute; 
	left: 350px; /* posiciona a 90px para a esquerda */ 
	top: -108px; /* posiciona a 70px para baixo */
}