body {
  font-family: 'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body,html{
  height: 100%;
  width: 100%;
  padding: 0;
  }

  .search-bar{
    margin-bottom: auto;
    /* margin-top: 54px; */
    height: 60px;
    background-color: #06B0EE;
    border-radius: 30px;
    padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  }

  .title-movies{

    position: absolute;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    margin-inline-start: 100px;
    font-size: 28pt;
    
    font-style: oblique;
    font-weight: 800;
    color: darkred
  }
  .title-main{
    font-size: 1.7rem;
    margin-bottom: 120px;
    font-weight: 672;
    line-height: 1.2;
    color: crimson;
    padding-left: 572px;
    margin-top: 10px;
    font-style: oblique
  }

  .margin-films{
    margin: 49px 32px;
    
  }


  .overview {

    font-size: 0.8rem;
    margin-bottom: 120px;
    font-weight: 672;
    line-height: 1.2;
    color: black;
    padding-left: 0px;
    margin-top: 10px;
    font-style: italic;
  }

  .overview-title {

    font-size: 1.0rem;
    margin-bottom: 120px;
    font-weight: 672;
    line-height: 1.2;
    color: red;
    padding-left: 0px;
    margin-top: 10px;
    font-style: italic;
  }

  h1 {
    color: crimson
  }

